<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать раздел</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

<script src="/js/bootstrap.bundle.min.js"> </script>
<div th:replace="~{templates :: page-header}"></div>


<div class="container mt-4">
    <h1>Создать раздел</h1>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:action="@{/admin_panel_add_section}" th:object="${newSection}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required autocomplete="off">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a th:href="@{/sections}" class="btn btn-secondary">Отмена</a>
    </form>

</div>

</body>
</html>