<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книжный Интернет-магазин</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <script src="/js/bootstrap.bundle.min.js"> </script>
    <div th:replace="~{templates :: page-header}"></div>


        <h1 class="display-4 text-center mb-5">
            Добро пожаловать на веб-форум!
        </h1>
</body>
</html>