<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Разделы</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

<script src="/js/bootstrap.bundle.min.js"> </script>

<div th:replace="~{templates :: page-header}"></div>

<h1 class="display-4 text-center mb-5">
  Разделы
</h1>
<div class = "container">

  <form th:action="@{/sections}" method="get" class="mb-3">
    <div class="row">
      <div class="col-md-4">
        <label for="name" class="form-label">Поиск по названию:</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${name}">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary mt-4">Поиск</button>
        <a th:href="@{/sections}" class="btn btn-secondary mt-4 ms-2">Сбросить</a>
      </div>
      </div>
  </form>

  <ul style="list-style-type: none;">
    <li sec:authorize="hasRole('MODERATOR')">
      <a href="/admin_panel_add_section">Добавить раздел</a>
    </li>
  </ul>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="section : ${sections}">
      <td th:text="${section.name}">Название</td>
      <td>
        <a th:href="@{/sections/{name}(name=${section.name})}" class="btn btn-primary btn-sm">Просмотр</a>
      </td>
      <td>
        <ul style="list-style-type: none;">
          <li sec:authorize="hasRole('MODERATOR')">
            <a th:href="@{/sections/admin_panel_delete_section(name=${section.name})}">Удалить раздел</a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>


</div>
</body>
</html>
